<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Chat | ChatApp</title>
        <meta name="viewport" content="width=device-width, inicial-scale=1, user-scalable=no"> 

    </head>
    <body class="chat">
    <div class="chat__sidebar">
        <h3>ChatApp</h3>
        <div id="users"></div>
    </div>
    <div class="chat__main" tag="{{roomname}}">
        <ol id="messages" class="chat__messages">

        </ol>
        <div class="chat__footer">
            <form id="message-form">
                <input id="message-input" type="text" placeholder="Input your message"/ autofocus autocomplete="off">
                <button>Send</button>
            </form>
            
            
        </div>
        
    </div>
        
    <script id="message-template" type="text/x-handlebars-template">
       <li class="message">
           <div class="message__title">
               <h4>{{from}}</h4>
               <span>{{createdAt}}</span>
           </div>
           <div class="message__body">
               <p>{{text}}</p>
           </div>
       </li>        
    </script>
    
    <script id="location-message-template" type="text/template">
        <li class="message">
            <div class="message__title">
                <h4>{{from}}</h4>
                <span>{{createdAt}}</span>
            </div>
            <div class="message__body">
                <a href="{{url}}" target="_blank">Moja trenutna adresa</a>
            </div>
        </li>        
     </script>

       <!--  -->
       <script src ="./../libs/jquery-3.3.1.min.js"></script> 
        <script src='./../libs/moment.js'></script>
        <script src="./../libs/deparam.js"></script>

        <script src="/libs/handlebars-v4.1.0.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/libs/mustache.js"></script>
        <script src="./chat.js"></script>
       
    </body>
</html>