<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Join | ChatApp</title>
        <meta name="viewport" content="width=device-width, inicial-scale=1, user-scalable=no"> 
    </head>
    <body class="centered-form">
       
     <div class="centered-form__form">
        <form action="/chat" method="POST">
            <div class="form-field">
                <h3>Welcome {{username}} </h3>
                <h2>Please join a Chat</h2>
            </div>
            <div class="form-field">
                <label>Display name</label>
                <input id="username-input" type="text" name="username" value="{{username}}" disabled="disabled"   />
            </div>
            {{!-- <div class="form-field">
                <label>Choose room</label>
                <select>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option> 
                </select> 
            </div> --}}
            <div class="form-field">
                <lablel>Room name</lablel>
                <input type="text" name="room" autofocus />
            </div>
            <div class="form-field">
                <button >Join</button>
            </div>
        
        </form>
    </div>
    </body>
    <script >
        var username = document.getElementById('username-input').value;
        console.log(username);
        sessionStorage.setItem('username',username);
        
    </script>
</html>