<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Join | ChatApp</title>
        <meta name="viewport" content="width=device-width, inicial-scale=1, user-scalable=no"> 
    </head>
    <body class="centered-form">
       
     <div class="centered-form__form">
        <form action="/login" method="post">
                <div class="form-field">
                    <h3>Welcome please login</h3>
                    <label style="color:red">{{message}}</label>
                </div>

                <div class="form-field">
                    <lablel>Username</lablel>
                    <input type="text" name="username" />
                </div>
                <div class="form-field">
                    <lablel>Password</lablel>
                    <input type="password" name="password" />
                </div>
                <div class="form-field">
                    <button>Login</button>
                </div>
    
    </div>
    </body>
    <script >



    </script>
</html>