<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Join | ChatApp</title>
        <meta name="viewport" content="width=device-width, inicial-scale=1, user-scalable=no"> 
    </head>
    <body class="centered-form">
       
     <div class="centered-form__form">
        <form action="/register" method="POST">
            <div class="form-field">
                <h3>Please fill form </h3>
               
                 <label style="color:red" class="danger">{{message}}</label>
            </div>
           
            <div class="form-field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Choose username" autofocus  />
            </div>
            
            <div class="form-field">
                <lablel>Email</lablel>
                <input type="text" name="email" placeholder="Your email address"/>
            </div>
            <div class="form-field">
                <lablel>Password</lablel>
                <input type="password" name="password" placeholder="Password"/>
            </div>
            <div class="form-field">
                <button>Register</button>
            </div>
        
        </form>
    </div>
    </body>
    <script src=""></script>
</html>