<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Chat | ChatApp</title>
        <meta name="viewport" content="width=device-width, inicial-scale=1, user-scalable=no"> 

    </head>
    <body class="chat">
    <div class="chat__sidebar">
        <h3>People</h3>
        <div id="users"></div>
    </div>
    <div class="chat__main">
        <ol id="messages" class="chat__messages"></ol>
        <div class="chat__footer">
            <form id="message-form">
                <input id="message-input" type="text" placeholder="Input your message" autofocus autocomplete="off"/ >
                <button id="send-dugme" tag="">Send</button>
            </form>
            
            <button id="send-location">Send location</button>
        </div>
        
    </div>
        
    <script id="message-template" type="text/template">
       <li class="message">
           <div class="message__title">
               <h4>{{from}}</h4>
               <span>{{createdAt}}</span>
           </div>
           <div class="message__body">
               <p>{{text}}</p>
           </div>
       </li>        
    </script>
    <script id="location-message-template" type="text/template">
        <li class="message">
            <div class="message__title">
                <h4>{{from}}</h4>
                <span>{{createdAt}}</span>
            </div>
            <div class="message__body">
                <a href="{{url}}" target="_blank">Moja trenutna adresa</a>
            </div>
        </li>        
     </script>

       <!--  -->
       <script src ="./libs/jquery-3.3.1.min.js"></script> 
        <script src='./libs/moment.js'></script>
        <script src="./libs/deparam.js"></script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="./libs/mustache.js"></script>
        <script src=""></script>
    </body>
</html>